---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="">
  <main>
    <h1>hoge</h1>
    <Card href="https://" title="hoge" body="hogehoge" />
  </main>
</Layout>
